name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  ccache_basedir: ${{ github.workspace }}
  ccache_dir: "${{ github.workspace }}/.ccache"
  ccache_compilercheck: content
  ccache_compress: "true"
  ccache_compresslevel: 9
  ccache_maxsize: 200M
  ccache_cmake: -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache
  MKL_URL: "https://data.statmt.org/romang/marian-regression-tests/ci/mkl-2020.1-windows-static.zip" # Used on Windows only
  VCPKG_DEFAULT_TRIPLET: "x64-windows-static" # Used on Windows only
  VCPKG_BUILD_TYPE: "release" # Used on windows

jobs:
  build-windows:
    strategy:
      matrix:
        include:
          - name: "Windows 2019 avx"
            os: windows-2019
            arch: "core-avx-i"
          - name: "Windows 2022 avx"
            os: windows-2022
            arch: "core-avx-i"
          - name: "Windows 2019 x86-64"
            os: windows-2019
            arch: "x86-64"
          # avx2 build is not any faster, since the critical codepath (intgemm) already uses the most optimal codepath for the user's PC
          # - name: "Windows 2019 avx2"
          #   os: windows-2019
          #   arch: "core-avx2"
          # - name: "Windows 2022 avx2"
          #   os: windows-2022
          #   arch: "core-avx2"
      fail-fast: false

    runs-on: ${{ matrix.os }}
    name: ${{ matrix.name }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Download MKL
        run: |
          # Wget retries downloading files and is faster than Invoke-WebRequest
          C:\msys64\usr\bin\wget.exe -nv ${{ env.MKL_URL }} -O mkl.zip
          Expand-Archive -Force mkl.zip ${{ github.workspace }}\mkl
          # Set MKLROOT environment variable so that CMake can find MKL
          echo "MKLROOT=${{ github.workspace }}\mkl" | Out-File -FilePath $env:GITHUB_ENV  -Encoding utf8 -Append
        shell: powershell

      - name: Cache vcpkg
        uses: actions/cache@v4
        env:
          cache-name: cache-vcpkg
        with:
          path: C:\vcpkg\installed # cache only the latest installed packages
          key: ${{ matrix.os }}-build-${{ env.cache-name }}
          restore-keys: |-
            ${{ matrix.os }}-build-${{ env.cache-name }}
            ${{ matrix.os }}-build

      - name: Disable debug vcpkg build
        shell: powershell
        working-directory: C:\vcpkg\triplets
        run: |
          $PSDefaultParameterValues['Out-File:Encoding'] = 'utf8' # Powershell murders me.
          echo "set(VCPKG_BUILD_TYPE release)" | Tee-Object -FilePath x64-windows-static.cmake -Append
          echo "set(VCPKG_BUILD_TYPE release)" | Tee-Object -FilePath x64-windows.cmake -Append
          cat x64-windows-static.cmake
          cat x64-windows.cmake

      - name: Install dependencies with vcpkg
        working-directory: C:\vcpkg
        run: |
          $Env:VCPKG_BUILD_TYPE = 'release'
          $Env:VCPKG_DEFAULT_TRIPLET = 'x64-windows-static' # QT6 version, linguist tools not working yet: qtbase:x64-windows-static qttools:x64-windows-static qtsvg:x64-windows-static
          .\vcpkg install protobuf:x64-windows-static pcre2:x64-windows-static zlib:x64-windows-static libarchive:x64-windows-static qt5-base:x64-windows-static qt5-tools:x64-windows-static qt5-svg:x64-windows-static
          .\vcpkg upgrade --no-dry-run # In case there are new builds available after cache restoration
        shell: powershell

      - name: Create Build Environment
        # Some projects don't allow in-source building, so create a separate build directory
        # We'll use this as our working directory for all subsequent commands
        run: cmake -E make_directory ${{github.workspace}}/build

      - name: Configure
        working-directory: ${{github.workspace}}/build #@TODO figure out how variables are accessed from power shell, as they seem to not be read.
        run: cmake .. -DCMAKE_BUILD_TYPE=Release -DUSE_STATIC_LIBS=ON -DBUILD_ARCH=${{ matrix.arch }} -DVCPKG_TARGET_TRIPLET='x64-windows-static' -DCMAKE_TOOLCHAIN_FILE="C:/vcpkg/scripts/buildsystems/vcpkg.cmake"
        shell: powershell

      - name: Build
        working-directory: ${{github.workspace}}/build
        run: cmake --build . --config Release -j3
        shell: powershell

      - name: Test and add architecture information to the build
        working-directory: ${{github.workspace}}/build/Release
        run: |
          ./translateLocally.exe --help
          mv translateLocally.exe translateLocally.${{ matrix.os }}.${{ matrix.arch }}.exe
        shell: powershell

      - uses: actions/upload-artifact@v4
        with:
          name: translateLocally.latest.${{ matrix.os }}.${{ matrix.arch }}.exe
          path: ${{github.workspace}}/build/Release/*.exe

  # Try to upload a release using https://github.com/marvinpinto/actions/issues/177#issuecomment-917605585 as a model
  release:
    name: Release build
    runs-on: ubuntu-latest
    needs: [build-windows]
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
           merge-multiple: true

      - name: Update GitHub prerelease
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: latest
          prerelease: true
          title: "Latest Build"
          files: |
            /home/runner/work/translateLocally/translateLocally/*.exe/*.exe
