name: Release

on:
    push:
        tags:
            - "v*"

env:
    BUILD_TYPE: Release
    VCPKG_DEFAULT_TRIPLET: "x64-windows-static"
    MKL_URL: "https://data.statmt.org/romang/marian-regression-tests/ci/mkl-2020.1-windows-static.zip"

jobs:
    build-windows:
        runs-on: windows-2022
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  submodules: recursive

            - name: Download MKL
              run: |
                  C:\msys64\usr\bin\wget.exe -nv ${{ env.MKL_URL }} -O mkl.zip
                  Expand-Archive -Force mkl.zip ${{ github.workspace }}\mkl
                  echo "MKLROOT=${{ github.workspace }}\mkl" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
              shell: powershell

            - name: Disable debug vcpkg build
              shell: powershell
              working-directory: C:\vcpkg\triplets
              run: |
                  $PSDefaultParameterValues['Out-File:Encoding'] = 'utf8'
                  echo "set(VCPKG_BUILD_TYPE release)" | Tee-Object -FilePath x64-windows-static.cmake -Append
                  echo "set(VCPKG_BUILD_TYPE release)" | Tee-Object -FilePath x64-windows.cmake -Append

            - name: Install dependencies with vcpkg
              working-directory: C:\vcpkg
              run: |
                  .\vcpkg install protobuf:x64-windows-static pcre2:x64-windows-static zlib:x64-windows-static libarchive:x64-windows-static qt5-base:x64-windows-static qt5-tools:x64-windows-static qt5-svg:x64-windows-static poppler:x64-windows-static openjpeg:x64-windows-static libiconv:x64-windows-static
              shell: powershell

            - name: Configure
              run: |
                  mkdir build
                  cd build
                  cmake .. -DCMAKE_BUILD_TYPE=Release -DUSE_STATIC_LIBS=ON -DVCPKG_TARGET_TRIPLET=x64-windows-static -DCMAKE_TOOLCHAIN_FILE="C:/vcpkg/scripts/buildsystems/vcpkg.cmake"
              shell: powershell

            - name: Build
              run: cmake --build build --config Release -j4
              shell: powershell

            - name: Release
              uses: softprops/action-gh-release@v2
              if: startsWith(github.ref, 'refs/tags/')
              with:
                  files: build/Release/translateLocally.exe
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
